@model ZooApp.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center">Details</h1>
<style>
    /* Custom Styles */
    body {
        color: black;
        background-color: #f8f9fa;
    }

    h1 {
        color: #007bff;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    th {
        background-color: #007bff;
        color: #fff;
    }

    tr {
        text-decoration-color: black;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Animal</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Species)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Species)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Age)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Age)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Sex)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Sex)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Diet)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Diet)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Employee)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Employee.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Enclosure)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Enclosure.Name)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
