@model IEnumerable<ZooApp.Models.Animal>

@{
    ViewData["Title"] = "Animal Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
   
    <style>
        /* Custom Styles */
        body {
           color:black;
            
            background-color: #f8f9fa;
        }
        h1 {
            color: #007bff;
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        th {
            background-color: #007bff;
            color: #fff;
        }

        tr{
            text-decoration-color: black;
        }
        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Animals</h1>
        <form asp-action="Index" method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchName" name="SearchString" value="@ViewData["AnimalNameFilter"]" placeholder="Please type an Animal name to search" style="width: 50px;" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                    <br />
                    
                </div>
            </div>
        </form>
        <a asp-action="Index">Back to original List</a>

        <hr />

        <div class="row">
            <div class="col">
                <a asp-action="Create" class="btn btn-success">Create New</a>
            </div>
            
        </div>

        <br />
        <div class="row">
            <div class="col">
                <table class="table table-striped" style="border:thin;">
                    <thead style="background-color:lightslategray;">
                        <tr >
                            <th >Name</th>
                            <th>Species</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Diet</th>
                            <th>Employee</th>
                            <th>Enclosure</th>
                            <th>Actions</th>
                        </tr>
                    </theadv>
                    <tbody style="border-radius:unset;">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Species)</td>
                                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                                <td>@Html.DisplayFor(modelItem => item.Sex)</td>
                                <td>@Html.DisplayFor(modelItem => item.Diet)</td>
                                <td>@Html.DisplayFor(modelItem => item.Employee.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Enclosure.Habitat)</td>
                                <td class="action-links">
                                    <a asp-action="Edit" asp-route-id="@item.AnimalId" class="btn btn-sm btn-primary">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.AnimalId" class="btn btn-sm btn-info">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.AnimalId" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
