@model PaginatedList<ZooApp.Models.Animal>
@{
    ViewData["Title"] = "Animal Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>

      <style>
        /* Custom Styles */
        body {
            color: black;
            background-color: #f8f9fa;
        }

        h1 {
            color: #007bff;
            margin-bottom: 20px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .card-body {
            background-color: #f2f2f2;
            font-size: 20px;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .card-body:hover {
            background-color: lightgray;
           
        }

        .btn-primary {
            margin-right: 10px;
        }

        .card-header.carnivore {
            background-color: #ff4500; /* Red for Carnivore, to symbolize Meat or flesh. Typically what Carnivores consume. */
            color: #fff;
            font-size: 35px;
        }

        .card-header.herbivore {
            background-color: #32cd32; /* A Green for Herbivore, which symbolizes greeness of nature and vegetation. */
            color: #fff;
            font-size: 35px;
        }

        .card-header.omnivore {
            background-color: #ffa500; /* Orange for Omnivore, to symbolize that these creatures with the Diet type are neither Meat eaters nor Vegetarian. */
            color: #fff;
            font-size: 35px;
        }

        .card-header.pescatarian {
            background-color: cornflowerblue; /* Blue for Pescatarian, I chose a blue colours to symbolize, the ocean which is a typicla palce where you would find fish and etc. */
            color: #fff;
            font-size: 35px;
        }
 

           

        #action-buttons {
            display: none;
            margin-top: 10px;
        }

      
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Animals</h1>
        <form asp-action="Index" method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchName" name="SearchString" value="@ViewData["AnimalNameFilter"]" placeholder="Please type an Animal name to search" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div id="quick-actions">
                    <p id="toggle-button" class="btn btn-secondary">Quick actions:</p>
                    <div class="form-group" id="action-buttons">
                        <form id="action-form" method="POST" action="your-server-endpoint">
                            <button type="submit" name="SortOrder" value="name_asc" class="btn btn-primary">Name ↑</button>
                            <button type="submit" name="SortOrder" value="name_desc" class="btn btn-primary">Name ↓</button>
                            <button type="submit" name="SortOrder" value="age_desc" class="btn btn-primary">Age ↓</button>
                            <button type="submit" name="SortOrder" value="Age" class="btn btn-primary">Age ↑</button>
                        </form>
                    </div>
                </div>

            <script>
                document.getElementById('toggle-button').addEventListener('click', function () {
                    const actionButtons = document.getElementById('action-buttons');
                    if (actionButtons.style.display === 'none' || actionButtons.style.display === '') {
                        actionButtons.style.display = 'block';
                    } else {
                        actionButtons.style.display = 'none';
                    }
                });
            </script>
         


            <!-- Drop down form for diet-based filtering -->
            <div class="form-group">
                <label for="dietType">Filter by Diet:</label>
                <select class="form-control" id="dietType" name="DietType">
                    <option value="">All</option>
                    <option value="Carnivore">Carnivore🍖</option>
                    <option value="Herbivore">Herbivore🌱</option>
                    <option value="Omnivore">Omnivore🍖🌱</option>
                    <option value="Pescatarian">Pescatarian🐠</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Apply Filter</button>
        <br/>
        </form>
        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            <form asp-action="Index" method="get">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchId" name="SearchId" value="@ViewData["AnimalIdFilter"]" placeholder="Please type an Animal ID to search" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        }

        <a asp-action="Index">Back to original List</a>
        <hr />
        <div class="row">
            <div class="col">
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <a asp-action="Create" class="btn btn-success">Create New</a>
                }
            </div>
        </div>
        <br />
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-dietType="@ViewData["DietTypeFilter"]"
           class="btn btn-primary @prevDisabled">
            Previous
        </a>
        <span class="page-text">Page @(Model.PageIndex) out of @(Model.TotalPages)</span>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-dietType="@ViewData["DietTypeFilter"]"
           class="btn btn-primary @nextDisabled">
            Next
        </a>

        <div class="row">
            @foreach (var item in Model)
            {
                var dietClass = item.Diet.ToString().ToLower(); // This code over here creates a variable named dietClass, which holds the name of animal's diet in lowercase.
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header @dietClass , card-header-hover">
                           <!-- 
                               This code above makes sure to append the animal's diet-type to end of the "card-header" class, to use the seperate classes that I have created
                               for each animal based on their Diet. 
                               For example an Animal with the Herbivore diet would have the class, "card-header.herbivore". The herbivore is lowercase since we converted it to lowercase above<a href="#"></a>
                               Then based on the particular class that is assigned to the particular animal based on it's diet type, a distinct colour will appear Ranging from Red for Carnivores,
                               Green for Herbivores, Orangish-Yellow for Omnivores and fianlly a light blue colour for the Pescitarians.
                           -->
                            <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                        </div>
                        <div class="card-body">
                            @if (User.IsInRole("Admin") || User.IsInRole("Employee")) // Makes sure that only Users who have the Admin and EMployee role can view the AnimalID field on the webpage.
                            {
                                <p><strong>Animal Id:</strong> @Html.DisplayFor(modelItem => item.AnimalId)</p>
                            }
                            <p><strong>Species:</strong> @Html.DisplayFor(modelItem => item.Species)</p>
                            <p><strong>Age:</strong> @Html.DisplayFor(modelItem => item.Age)</p>
                            <p><strong>Sex:</strong> @Html.DisplayFor(modelItem => item.Sex)</p>
                            <p><strong>Diet:</strong> @Html.DisplayFor(modelItem => item.Diet)</p>
                            <div class="action-links">
                                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.AnimalId" class="btn btn-sm btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush-fill" viewBox="0 0 16 16">
                                            <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.1 6.1 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.1 8.1 0 0 1-3.078.132 4 4 0 0 1-.562-.135 1.4 1.4 0 0 1-.466-.247.7.7 0 0 1-.204-.288.62.62 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896q.19.012.348.048c.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04" />
                                        </svg>
                                    </a>
                                }
                                <a asp-action="Details" asp-route-id="@item.AnimalId" class="btn btn-sm btn-info">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                                    </svg>
                                </a>
                                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.AnimalId" class="btn btn-sm btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                        </svg>
                                    </a>
                                }
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            }

            <br />
           
        </div>
    </div>
</body>

</html>
