@model ZooApp.Models.Event

@{
    ViewData["Title"] = "Event Details";
}

<div class="container">
    <h1>Event Details</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Event Name:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-4">Date:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Date)</dd>

                <dt class="col-sm-4">Description:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-4">Ticket Price:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TicketPrice)</dd>
            </dl>

            <div class="mt-4">
                <a class="btn btn-outline-success" href="@Url.Action("Index", "Tickets")">Book Now!</a>
            </div>
        </div>
    </div>

    <div class="mt-4">
    
        <a asp-action="Index" class="btn btn-secondary">Back to Event List</a>
    </div>
</div>
