@model IEnumerable<ZooApp.Models.VisitorLog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateVisited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visitor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateVisited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visitor.VisitorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisitorLogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VisitorLogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitorLogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
