@model IEnumerable<ZooApp.Models.Enclosure>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
  <form asp-action="Index" method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" id="searchName" name="SearchString" value="@ViewData["EnclosureNameFilter"]" placeholder="Please type an Enclosure name to search" style="width: 50px;" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

</form>

<a asp-action="Index">Back to original List</a>
<hr/>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnclosureId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnclosureId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnclosureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
