@model IEnumerable<ZooApp.Models.Enclosure>

@{
    ViewData["Title"] = "Enclosure Index";
}

<h1 class="text-center">Enclosures</h1>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!--Links all the bootsrap icons,buttons and etc to the website so they can be accessed.-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"><!-- This link tags links Font Awesome's library of svg icons. These icons can be interacted with using CSS.-->

<div class="container">
    <form asp-action="Index" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="searchName" name="SearchString" value="@ViewData["EnclosureNameFilter"]" placeholder="Search by Enclosure name">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-search"></i> Search
            </button>
        </div>
    </form>

    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
    <a asp-action="Create" class="btn btn-primary">Add New Enclosure</a>
                        }

    <a asp-action="Index" class="btn btn-secondary mb-3">Back to original List</a>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        @if (item.ImageFileName != null)
                        {
                            <img src="~/images/@item.ImageFileName" alt="@item.Name" class="img-thumbnail" style="max-width: 300px; height: 300px; border-radius: 10px;" />
                        }
                        <p class="card-text"><strong>Habitat:</strong> @Html.DisplayFor(modelItem => item.Habitat)</p>
                        <p class="card-text"><strong>Capacity:</strong> @Html.DisplayFor(modelItem => item.Capacity)</p>

                        <a asp-action="Details" asp-route-id="@item.EnclosureId" class="btn btn-sm btn-info" title="Details">
                            <i class="bi bi-info-circle-fill"></i> Details
                        </a>
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <div class="text-end">
                                <a asp-action="Edit" asp-route-id="@item.EnclosureId" class="btn btn-sm btn-primary" title="Edit">
                                    <i class="bi bi-pencil-fill"></i> Edit
                                </a>
                              
                                <a asp-action="Delete" asp-route-id="@item.EnclosureId" class="btn btn-sm btn-danger" title="Delete">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <!-- Include Bootstrap icons library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/icons/bootstrap-icons.min.js"></script>
}
