@model ZooApp.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Date Purchased
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
           
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.TicketPrice)

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visitor.Name)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index" asp-controller="Tickets" class="btn btn-primary">Go back</a>
</div>
